.row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}
